{
    "presets": [["env", {"modules": false}], "flow"],
    "plugins": [
        "syntax-trailing-function-commas",
        "syntax-dynamic-import",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ]
}
