{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "useBuiltIns": true,
                "targets": {
                    "node": "current"
                }
            }
        ],
    ],
    "plugins": [
        "syntax-trailing-function-commas",
        "syntax-dynamic-import",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": ["transform-react-jsx-self", "transform-react-jsx-source"]
        }
    }
}
