{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "debug": true,
                "targets": { "node": "current" }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx"],
                "root": ["./"]
            }
        ],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
