html {
    box-sizing: border-box;
    color: brown;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
}

body {
    max-height: 100vh;
}

#root {
    margin: 1rem;
    min-height: 100%;
}
