* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: brown;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
}

body {
    height: 100%;
}

#root {
    height: 100%;
    overflow: hidden;
}
